* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a{
  text-decoration: none;
  color: whitesmoke;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1a1a1a;
}

header {
  width: 100%;
  background-color: #1a1a1a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-header {
  display: inline-flex;
  font-size: 1em;
  color: whitesmoke;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 1000;
}

.nav-header-left {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px 0;
}

.nav-header-left-logo {
  margin: 0 30px;
  padding: 5px;
}

.nav-header-text {
  position: relative;
  margin: 0 10px;
  cursor: pointer;
}

.nav-header-text a{
  text-decoration: none;
  font-size: 1em;
}


.nav-header-text::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 1px;
  font-weight: 400;
  transition: width 0.5s;
}

.nav-header-text:hover::before {
  width: 100%;
  background-color: white;
}

.nav-header-text::before {
  transition: width 0.5s, background-color 0.5s, transform 0.5s;
}

.nav-header-text:hover::before {
  width: 100%;
  background-color: white;
  transform: translateY(0);
}

.nav-header-text:hover::before {
  transform: translateY(0);
}

.modelo-seleccionado {
  border: 1px solid white;
  border-radius: 5px;
  background-color: #3c3c3c;
}

.nav-header li {
  padding: 3px;
}

.nav-header-right {
  list-style: none;
  display: flex;
  margin-left: auto;
  padding-right: 40px;
  align-items: center;
  justify-content: center;
}

.nav-header-right .img {
  padding-left: 20px;
}

.icon-container {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.icon-smoke,
.icon-white {
  cursor: pointer;
  position: absolute;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.icon-white {
  opacity: 0;
}

.icon-container:hover .icon-smoke {
  opacity: 0;
}

.icon-container:hover .icon-white {
  opacity: 1;
}

.barras {
  cursor: pointer;
}

.barra1,
.barra2,
.barra3 {
  background-color: rgb(192, 192, 192);
  height: 1px;
  width: 22px;
  margin-top: 7px;
  transition: transform 0.5s, opacity 0.5s, background 0.5s;
}

.barras.active .barra1 {
  transform: rotate(45deg) translate(6px, 6px); /* Ajustado para inclinarse desde la izquierda */
}

.barras.active .barra2 {
  opacity: 0;
}

.barras.active .barra3 {
  transform: rotate(-45deg) translate(6px, -6px); /* Ajustado para inclinarse desde la izquierda */
}

.barras:hover .barra1,
.barras.active .barra2,
.barras:hover .barra3 {
  background: white;
}

.submenu-general {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #1f1f1f;
  opacity: 0;
  transform: translateY(-500px);
  top: 70px;
  color: white;
  margin: 0;
  padding-bottom: 30px;
  overflow: hidden;
  transition: transform 0.5s;
}
.submenu-general.show {
  max-height: 750px;
  opacity: 1;
  transform: translateY(0);
}

.columnas ul {
  font-size: 0.9em;
  margin-top: 20px;
  transform: translateX(90px);
  list-style: none;
}

.columnas ul li {
  padding: 15px 0;
  position: relative;
  transition: color 0.5s;
  width: fit-content;
}

.columnas.show ul li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 0%;
  height: 1px;
  background-color: white;
  transform-origin: bottom right;
  transition: width 0.5s ease-out, transform 0.5s ease-out;
}

.columnas.show ul li:hover::before {
  width: 100%;
  transform-origin: bottom left;
}

.columnas ul li:hover {
  color: white;
  cursor: pointer;
}

.columnas {
  display: flex;
  font-size: 1.5em;
  font-weight: 500;
}

.columna1,
.columna2,
.columna3 {
  width: 450px;
}

.columnas ul li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 0%;
  height: 1px;
  background-color: white;
  transform-origin: bottom right;
  transition: width 0.5s ease-out, transform 0.5s ease-out;
}

.columnas ul li:hover::before {
  width: 100%;
  transform-origin: bottom left;
}

.submenu-general hr {
  width: 85%;
  height: 1px;
  border: none;
  background-color: #3c3c3c;
}

#header.submenu-active .nav-header-text {
  color: #c0c0c0;
}

#header.submenu-active .nav-header-text a{
  color: #c0c0c0;
}

#header.submenu-active .img img {
  filter: grayscale(100%);
}

.submenu-general-contenedores {
  display: flex;
  margin-left: 130px;
}

.submenu-general-contenedores p {
  letter-spacing: 2px;
  color: #9e9e9e;
  font-weight: 700;
  width: fit-content;
}

.submenu-general-contenedores ul {
  margin: 0;
  padding: 0;
}

.languajes {
  text-align: center;
  width: 450px;
  cursor: pointer;
}

.languajes ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 40px;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 350px;
  width: 100%;
}

.languajes ul li {
  font-size: 1.1em;
  font-weight: 600;
}

.redes-sociales {
  width: 450px;
}

.redes-sociales ul {
  list-style: none;
  display: flex;
  width: 75%;
  justify-content: space-between;
}

/* ---------------------------------------------------------------------------- */
.submenu-modelos {
  display: flex;
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #1f1f1f;
  opacity: 0;
  transform: translateY(-500px);
  top: 50px;
  color: #9e9e9e;
  margin: 0;
  padding: 20px 0;
  max-height: 0px;
  overflow: hidden;
  transition: transform 0.5s;
}

.submenu-modelos.show {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.5s;
}

.submenu-modelos ul {
  font-size: 0.9em;
  margin-top: 20px;
  transform: translateX(90px);
  list-style: none;
}

.submenu-modelos ul li {
  padding: 15px 0;
  transition: color 0.5s;
  opacity: 0;
  cursor: pointer;
}

.submenu-modelos.show ul li {
  opacity: 1;
}

.submenu-modelos a {
  color: #9e9e9e;
  text-decoration: none;
}

.submenu-modelos a:hover {
  color: white;
  transition: color 0.5s;
}

.submenu-supersport {
  z-index: -8;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.submenu-supersport.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}

.submenu-supersport ul li {
  margin-left: 20px;
  transition: color 0.5s;
  opacity: 0.7;
  color: white;
}

.submenu-supersport ul li:hover {
  color: white;
}

.submenu-supersport ul li:not(:hover) {
  color: #9e9e9e;
}


.submenu-street {
  transform: translateX(-148px);
  z-index: -4;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.submenu-street.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}

.submenu-street ul li {
  margin-left: 20px;
  transition: color 0.5s;
  opacity: 0.7;
  color: white;
}

.submenu-street ul li:hover {
  color: white;
}

.submenu-street ul li:not(:hover) {
  color: #9e9e9e;
}


.submenu-touring {
  transform: translateX(-308px);
  z-index: -4;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.submenu-touring.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}

.submenu-touring ul li {
  margin-left: 20px;
  transition: color 0.5s;
  opacity: 0.7;
  color: white;
}

.submenu-touring ul li:hover {
  color: white;
}

.submenu-touring ul li:not(:hover) {
  color: #9e9e9e;
}

.submenu-adventure {
  transform: translateX(-538px);
  z-index: -4;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.submenu-adventure.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}

.submenu-adventure ul li {
  margin-left: 20px;
  transition: color 0.5s;
  opacity: 0.7;
  color: white;
}

.submenu-adventure ul li:hover {
  color: white;
}

.submenu-adventure ul li:not(:hover) {
  color: #9e9e9e;
}

.submenu-custom {
  transform: translateX(-708px);
  z-index: -4;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.submenu-custom.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}

.submenu-custom ul li {
  margin-left: 20px;
  transition: color 0.5s;
  opacity: 0.7;
  color: white;
}

.submenu-custom ul li:hover {
  color: white;
}

.submenu-custom ul li:not(:hover) {
  color: #9e9e9e;
}


.submenu-scooter {
  transform: translateX(-868px);
  z-index: -4;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.submenu-scooter.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}

.submenu-scooter ul li {
  margin-left: 20px;
  transition: color 0.5s;
  opacity: 0.7;
  color: white;
}

.submenu-scooter ul li:hover {
  color: white;
}

.submenu-scooter ul li:not(:hover) {
  color: #9e9e9e;
}

.submenu-servicios {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #1f1f1f;
  opacity: 0;
  transform: translateY(-500px);
  top: 70px;
  color: #9e9e9e;
  margin: 0;
  padding-bottom: 30px;
  max-height: 0px;
  overflow: hidden;
  transition: transform 0.5s;
}

.submenu-servicios.show {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.5s;
}

.submenu-servicios ul {
  font-size: 0.9em;
  margin-left: 185px;
  margin-top: 20px;
  transform: translateX(120px);
  list-style: none;
}

.submenu-servicios ul li {
  padding: 15px 0;
  transition: color 0.5s;
  opacity: 0;
}

.submenu-servicios.show ul li {
  opacity: 1;
}

.submenu-servicios ul li:hover {
  color: white;
  cursor: pointer;
}


.submenu-hrc {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #1f1f1f;
  opacity: 0;
  transform: translateY(-500px);
  top: 70px;
  color: #9e9e9e;
  margin: 0;
  padding-bottom: 30px;
  max-height: 0px;
  overflow: hidden;
  transition: transform 0.5s;
}

.submenu-hrc.show {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.5s;
}

.submenu-hrc ul {
  font-size: 0.9em;
  margin-left: 185px;
  margin-top: 20px;
  transform: translateX(223px);
  list-style: none;
}

.submenu-hrc ul li {
  padding: 15px 0;
  transition: color 0.5s;
  opacity: 0;
}

.submenu-hrc.show ul li {
  opacity: 1;
}

.submenu-hrc ul li:hover {
  color: white;
  cursor: pointer;
}

/* ---------------------------------------------------------------------------------- */

main {
  background: white;
  overflow-x: hidden;
}

.portada-main video {
  width: 100%;
  height: auto;
  display: block;
}

.portada-contacto{
  background-image: url(./assets/images/wallpaper-contacto.jpeg);
  background-size: cover;
  height: 100vh;
}

.portada-contacto-image {
  width: 100%;
  height: auto;
  display: block;
}

.portada-contacto-maps{
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
  color: white;
}

.portada-contacto-info {
  height: 100%;
  color: #1f1f1f;
  text-align: left;
  display: flex;
  margin-left: 400px;
}

.portada-contacto-info h1 {
  padding-top: 60px;
  margin: 0px;
  font-size: 2em;
  color: #1a1a1a;
}

.portada-contacto-info h2{
  margin-top: 40px;
  font-weight: 700;
}

.portada-contacto-info a{
  text-decoration: none;
  color: #1f1f1f;
}


.animated-link a {
  text-decoration: none;
  color: #1a1a1a;
}

.animated-link p {
  font-weight: 100;
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c9c9c9;
  color: #1a1a1a;
  padding: 15px 0px;
  margin: 0;
  cursor: pointer;
}

.animated-link img{
  padding: 0 10px;
}

.animated-link p::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #c9c9c9;
  transition: width 0.5s, background-color 0.5s;
}


.animated-link p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  transform: translateY(-1);
  background-color: #1a1a1a;
  transition: width 0.3s;
}

.animated-link p:hover::after {
  width: 100%;
}

.maps-container{
  background-image: url(assets/images/wallpaper-maps.png);
  height: 600px;
  width: 1500px;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  color: white;
}

.portada-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 100vh;
}

.login-box {
  background-color: #f2f2f2;
  width: 450px; 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.login-pic01{
  z-index: 5;
  height: 450px;
  left: -180px;
  transform: translateY(-150px);
  position: absolute;
  animation: desplazar01 1.5s ease-out;
}

@keyframes desplazar01 {
  0% {
    left: 800px;
  }
  100% {
    left: -180px;
  }
}

.login-pic02{
  z-index: 10;
  height: 450px;
  transform: translateY(220px);
  position: relative;
  left: 1380px;
  animation: desplazar02 1.5s ease-out;
}

@keyframes desplazar02 {
  0% {
    left: 400px;
  }
  100% {
    left: 1380px;
  }
}

.login-box h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 2.5em;
  text-align: center;
}

.inputbox label{
  position: absolute;
  transform: translateY(45px);
  left: 740px;
  color: #000;
  font-size: 1.2em;
  pointer-events: none;
  transition: .5s;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding:0 35px 0 5px;
  margin-top: 40px;
}

input:focus ~ label,
input:valid ~ label{
  transform: translateY(0px);
}

.login-box input {
  background-color: #f9f9f9;
  width: calc(100% - 20px);
  height: 40px;
  padding: 0 10px;
  font-size: 1.2em;
  margin-bottom: 20px;
  border: 0px;
  border-radius: 3px;
}

.login-box input:focus {
  transition: 0.3s ease;
  background: #fff;
  outline: none; 
}



.login-box .submit {
  text-align: center; 
}

.login-box .submit button {
  width: 70%;
  height: 50px;
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 10px;
  padding: 10px;
  background-color: #cc0000;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}


.login-box .submit button:hover {
  background-color: #b30000;
}

.login-box hr{
  margin: 30px 0;
  background: #9f9f9f;
  border: none;
  height: 1px;
}

.login-box .login-apple{
  width: 100%;
  height: 60px;
  font-size: 1.2em;
  font-weight: 600;
  padding: 0px;
  background-color: #000000; 
  color: #fff; 
  border: none;
  border-radius: 50px;
  cursor: pointer;
  line-height: 60px; 
}

.login-box .login-google {
  width: 100%;
  height: 60px;
  font-size: 1.2em;
  font-weight: 600;
  padding: 0px;
  background-color: #fff; 
  color: #000000;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  line-height: 60px; 
}

.login-box .login-apple:hover {
  background-color: #3c3c3c;
}

.login-box .login-google:hover {
  background-color: #cccccc;
}

.login-box .login-apple img,
.login-box .login-google img {
  width: 22px;
  margin: 0 30px;
  transform: translateY(5px);
}

.no-account{
  font-size: 1em;
  font-weight: 100;
  margin: 0px;
  padding-bottom: 0px;
  padding-top: 20px;
}

.no-account a{
  color: #3c3c3c;
  font-weight: 500;
  text-decoration: underline;
}

.already-signup{
  display: flex;
  justify-content: center;
  align-content: center;
}

.already-signup p{
  font-size: 1em;
  font-weight: 100;
  margin: 0px;
  padding-bottom: 10px;
}

.already-signup a{
  color: #3c3c3c;
  font-weight: 500;
  text-decoration: underline;
}


.text-video {
  position: absolute;
  top: 50%;
  left: 170px;
  transform: translateY(-50%);
  color: white;
}

.text-video h1 {
  font-size: 7rem;
  width: 60%;
  line-height: 1;
}

.text-video h2 {
  margin-top: 100px;
  font-size: 1.8em;
  font-weight: 600;
}

.text-video h1,
.text-video p {
  margin: 0;
}
/* --------------------------------------------------------------- */
.modelos-main {
  position: relative;
  overflow: hidden;
  height: 800px;
  background-image: url(assets/images/slider_CBR1000RR.jpg);
  background-position: center top; 
  background-size: cover;
  transition: 1s ease;
}

.hexagonos {
  display: flex;
}

.hexagonos-izq {
  transform: rotate(180deg);
  width: 50px;
  height: 50px;
  margin: 0 20px 0 0;
  padding: 0;
  cursor: pointer;
}

.hexagonos-der {
  width: 50px;
  height: 50px;
  margin: 0 0 0 20px;
  padding: 0;
  cursor: pointer;
}

.hexagono,
.hexagono-white {
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.hexagono-white {
  opacity: 0;
}

.hexagonos-izq:hover .hexagono {
  opacity: 0;
}

.hexagonos-izq:hover .hexagono-white {
  opacity: 1;
}

.hexagonos-der:hover .hexagono {
  opacity: 0;
}

.hexagonos-der:hover .hexagono-white {
  opacity: 1;
}


.moreinfo-container {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.nombres-slider-CBR1000RR-R {
  display: block;
}

.nombres-slider-CBR1000RR-R h1 {
  display: flex;
}

.nombres-slider-AFRICATWIN {
  display: none;
}

.nombres-slider-AFRICATWIN h1 {
  display: flex;
}

.nombres-slider-GOLDWING {
  display: none;
}

.nombres-slider-GOLDWING h1 {
  display: flex;
}

.descubreModelos {
  margin: 100px 0 0 0;
  display: flex;
  align-items: center;
}

.descubreModelos-txt h4 {
  margin-left: 20px;
  font-size: 1.2em;
  font-weight: 100;
}

.moreinfo,
.moreinfo-white {
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.moreinfo-white {
  opacity: 0;
}

.moreinfo-container:hover .moreinfo {
  opacity: 0;
}

.moreinfo-container:hover .moreinfo-white {
  opacity: 1;
}

.configurador-main {
  position: relative;
  background-size: 100%;
  background-image: url("./assets/images/cbr.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 699px;
  transition: background-image 0.5s ease;
}

.text-configurador {
  position: absolute;
  width: 400px;
  top: 37%;
  left: 170px;
  transform: translateY(-50%);
  color: #1a1a1a;
  padding: 100px 0 0;
}

.text-configurador h1 {
  font-size: 4rem;
  width: 100%;
  line-height: 1;
  opacity: 0;
  transform: translateX(-800px);
}

.text-configurador h1.show {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 2s, transform 1s;
}

.text-configurador h2 {
  display: flex;
  font-size: 1.8em;
  font-weight: 600;
}

.text-configurador h2 div {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.text-configurador h2 div.show {
  opacity: 1;
  transform: translateY(0);
  animation: appearAnimation 0.5s ease-in-out;
}

@keyframes appearAnimation {
  from {
    opacity: 0;
    transform: translateY(0);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-images {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 170px;
  transform: translateY(-50%);
  color: white;
}

.text-images h2 {
  margin-top: 100px;
  font-size: 1.8em;
  font-weight: 600;
}

.text-images h1 {
  margin-bottom: 0px;
  font-size: 6rem;
  width: 60%;
  padding: 0;
}

.text-images p {
  font-size: 1.8em;
  font-weight: 600;
}

.text-images p {
  margin: 0;
}

.hexagons {
  width: 60px;
  height: 60px;
  margin: 40px 0;
  cursor: pointer;
}

.hexagon-empty,
.hexagon-full {
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.hexagon-full {
  opacity: 0;
}

.hexagons:hover .hexagon-empty {
  opacity: 0;
}

.hexagons:hover .hexagon-full {
  opacity: 1;
}

.buttons-configurador {
  border-bottom: 1px solid #9e9e9e;
  width: 94.5%;
}

.buttons-configurador button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.1em;
  font-weight: 100;
  padding: 0 42px 20px 0px;
  color: #1a1a1a;
  cursor: pointer;
  position: relative;
  transition: color 0.5s, transform 0.5s; 
}

.buttons-configurador button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0%;
  height: 1px;
  transition: width 0.5s, background-color 0.5s;
}

.buttons-configurador button.clicked::before {
  width: 100%;
  background-color: #000;
}

.buttons-configurador button:hover::before {
  width: 100%;
  background-color: #000;
}

.concesionarios-main {
  position: relative;
  height: 70vh;
  background-image: url(assets/images/concesionarios.jpg);
  background-repeat: none;
  background-position-y: center;
}


.text-concesionarios {
  position: absolute;
  top: 50%;
  left: 170px;
  transform: translateY(-50%);
  color: #fff;
}

.text-concesionarios h1 {
  font-size: 5rem;
  width: 60%;
  line-height: 1;
}

.text-concesionarios h2 {
  font-size: 1.8em;
  font-weight: 600;
}

.text-concesionarios h1,
.text-concesionarios p {
  margin: 0;
}

.footer-rrss {
  padding: 40px 170px 0;
  height: 10vh;
}

footer {
  background-color: #1a1a1a;
  color: whitesmoke;
  padding-bottom: 20px;
}

footer section {
  width: 800px;
  float: left;
}

footer aside {
  float: right;
}

footer section ul {
  font-size: 1rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

footer section li {
  position: relative;
  margin: 0px 10px;
  padding: 0 0px 10px;
  cursor: pointer;
}

.footer-rrss section li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 0%;
  height: 1px;
  font-weight: 400;
  background-color: transparent;
  transition: width 0.5s;
}

.footer-rrss section li:hover::before {
  width: 100%;
  font-weight: 400;
  background-color: white;
}

footer aside ul {
  display: flex;
  list-style: none;
}

footer aside ul li {
  padding: 0 10px;
}

.footer-consumos {
  font-size: 0.9rem;
  font-weight: 100;
  padding: 0 170px 20px;
  text-align: justify;
}

.footer-copyright p {
  font-size: 1rem;
  margin: 10px 0;
  padding: 0 170px;
  text-align: justify;
}